extends new_dashboard

block content
    script(src='/js/controller/daityou-sihara-ichiran.js')
    #daityouSiharaIchiran.container.col-12.pt-3.pb-5.px-0
        .col-md-12.ml-sm-auto.col-lg-12.pl-2.pr-3
            //- .d-flex.flex-wrap
            //-     a(href="/dashboard/daityou").d-inline.pt-1.px-3.pr-4.mr-1
            //-         span(data-feather='chevron-left' style="height: 30px;")
            //-         span.pt-1 工事台帳に戻る
            //-     h3.d-block.title #{title}
            .d-flex.flex-wrap
                a(href="/dashboard/daityou").d-inline.pt-1.px-3.pr-4.mr-1
                    span(data-feather='chevron-left' style="height: 30px;")
                    span.pt-1 工事台帳に戻る
                h3#title.d-block.genba-name-title
        //- nav#daityougenbaview
        //-     div(class="nav nav-pills d-flex" id="nav-tab" role="tablist")
        //-         button(class="nav-link active col btn btn-outline-primary" id="nav-genba-tab" data-toggle="tab" data-target="#nav-genba" type="button" role="tab" aria-controls="nav-genba" aria-selected="true" onclick="setCookie('daityougenbaview','nav-genba-tab');" data-sua-event="工事台帳ページ" data-sua-detail="「すべて」のTABをクリック") 
        //-             span(style="font-size: 21px; font-weight: bold;") 現場まとめ
        //-         button(class="nav-link btn col btn-outline-success" id="nav-payment-tab" data-toggle="tab" data-target="#nav-payment" type="button" role="tab" aria-controls="nav-payment" aria-selected="false" onclick="setCookie('daityougenbaview','nav-payment-tab');" data-sua-event="工事台帳ページ" data-sua-detail="「進行中 8」のTABをクリック") 
        //-             span(style="font-size: 21px; font-weight: bold;") 支払管理
        //-         button(class="nav-link btn col btn-outline-warning" id="nav-nippo-tab" data-toggle="tab" data-target="#nav-nippo" type="button" role="tab" aria-controls="nav-nippo" aria-selected="false" onclick="setCookie('daityougenbaview','nav-nippo-tab');" data-sua-event="工事台帳ページ" data-sua-detail="「完了・未受注」のTABをクリック") 
        //-             span(style="font-size: 21px; font-weight: bold;") 現場日報
        //-         button(class="nav-link btn col btn-outline-info" id="nav-budget-tab" data-toggle="tab" data-target="#nav-budget" type="button" role="tab" aria-controls="nav-budget" aria-selected="false" onclick="setCookie('daityougenbaview','nav-budget-tab');" data-sua-event="工事台帳ページ" data-sua-detail="「完了・未受注」のTABをクリック") 
        //-             span(style="font-size: 21px; font-weight: bold;") 実行予算
        .nav#nav-bar.my-3.pl-2.pr-3.border-bottom.border-secondary
            a#nav-genba.nav-link-ex 現場まとめ
            a#nav-sihara.nav-link-ex.active 支払管理
            a#nav-ichiran.nav-link-ex 現場日報
            a#nav-yosan.nav-link-ex 実行予算

        div#nav-sihara-ichiran.pt-3
            .col-12.col-xxl-10.mx-auto.px-0.pt-0
                .card.border-secondary.mb-3.mx-0.w-100
                    .card-body.p-0
                        table.w-100.small.table-bordered(style="table-layout:fixed")
                            thead#sihara-ichiran-summary-theader.bg-secondary.text-center.text-white
                                //- tr
                                //-     th
                                //-     th.py-2 2021年9月
                                //-     th 10月
                                //-     th 11月
                                //-     th 12月
                                //-     th 2022年1月
                                //-     th 2月
                                //-     th 3月
                                //-     th 4月
                                //-     th 5月
                                //-     th 6月
                                //-     th 7月
                                //-     th 8月
                                //-     th.bg-light(style="color:#212529") 小計
                            tbody#sihara-ichiran-summary-tbody.text-right
                                //- tr
                                //-     td.py-2.pl-1.bg-light.text-left 原価合計
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1.bg-light 1,234
                                //- tr
                                //-     td.py-2.pl-1.bg-light.text-left 売上合計
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1.bg-light 1,234
    
            .col-12.mx-auto.px-0
                .card.border-secondary.my-4.w-100
                    .card-body.p-0(style="overflow-x:auto;-webkit-overflow-scrolling: touch;-ms-overflow-style: -ms-autohiding-scrollbar;")
                        table.scrollable-table.w-100.small.table-bordered(style="table-layout:fixed")
                            thead#sihara-ichiran-theader.bg-secondary.text-center.text-white
                                //- tr
                                //-     th(style="width:10%") 業者名
                                //-     th.py-2 2021年9月
                                //-     th 10月
                                //-     th 11月
                                //-     th 12月
                                //-     th 2022年1月
                                //-     th 2月
                                //-     th 3月
                                //-     th 4月
                                //-     th 5月
                                //-     th 6月
                                //-     th 7月
                                //-     th 8月
                                //-     th.bg-light(style="color:#212529") 小計
                                //-     th.bg-light(style="color:#212529") 実行予算
                                //-     th.bg-light(style="color:#212529") 進捗率
                            tbody#sihara-ichiran-tbody.text-right
                                //- tr
                                //-     td.py-2.pl-1.bg-light.text-left 原価合計
                                //-     td.pr-1 10,234,567
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1.bg-light 1,234
                                //-     td.pr-1.bg-light 1,234
                                //-     td.pr-1.bg-light 1,234
                                //- tr
                                //-     td.py-2.pl-1.bg-light.text-left 売上合計
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1 1,234
                                //-     td.pr-1.bg-light 1,234
                                //-     td.pr-1.bg-light 1,234
                                //-     td.pr-1.bg-light 1,234