extends new_dashboard
block content
    script(src='/js/controller/daityou.js')
    script(src='/plugins/bootstrap-switch/js/bootstrap-switch.min.js')
    link(rel='stylesheet' href='/plugins/bootstrap-switch/css/bootstrap-switch.min.css')
    
    #daityouPage.container.col-md-12.ml-sm-auto.col-lg-12.pt-3.pl-2.pr-3
        h3.d-block.title.font-weight-light.mb-2.pb-2.border-bottom #{title}
        #daityouview
            .nav#nav-tab.nav-tabs.my-3.border-bottom.border-secondary(role="tablist")
                a#nav-all-tab.nav-link-ex.active(data-toggle="tab" data-target="#nav-all" type="button" role="tab" aria-controls="nav-all" aria-selected="true" data-name="all") すべて
                a#nav-inprogress-tab.nav-link-ex(data-toggle="tab" data-target="#nav-inprogress" type="button" role="tab" aria-controls="nav-inprogress" aria-selected="false" data-name="inprogress") 進行中
                    span#inprogress-count.pl-1
                a#nav-finished-tab.nav-link-ex(data-toggle="tab" data-target="#nav-finished" type="button" role="tab" aria-controls="nav-finished" aria-selected="false" data-name="finished") 完了・未受注
        div(class="tab-content")
            .col-12.col-xxl-8.mt-3.pt-3
                .row
                    .col-sm-12.col-md-8.col-lg-8.col-xl-6.col-xxl-6.px-0.mb-3
                        .input-group
                            input#input-keyword.filter.form-control(type="text" placeholder="キーワードを入カ" autoFocus)
                            span.input-group-append 
                                .input-group-text 
                                    span(data-feather="search") 検索する
                            button#searchBtn.ml-4.sendForm.btn.btn-dark.rounded.shadow-sm.s-el.w-auto(style="cursor:pointer;")
                                span.pt-1 絞り込む
                                span.ml-2(data-feather='arrow-right' style="width: 15px;height: 15px;")
                    .col.px-0
                        div.text-right
                            input#switchTax(type="checkbox" data-on-text="税込" data-off-text="税抜" data-size="normal")

            div(class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab")
                .col-12.col-xxl-8.px-0
                    .card.border-secondary.my-3.w-100
                        .card-header.py-1.bg-primary.text-white.font-weight-bold.collapsed(id="toggle-filter-all" data-toggle="collapse" data-target="#filter-panel-all" aria-expanded="false" aria-controls="filter-panel-all" style="cursor:pointer")
                            .row.pl-3
                                span.pt-1 詳細で絞り込む
                                .col.d-flex.justify-content-end.pt-1
                                    span.pr-1.float-left.off.d-inline(data-feather="chevron-down")
                                    span.pr-1.float-left.on.d-none(data-feather="chevron-up")
                                
                        .card-body.px-4.collapse(id="filter-panel-all" aria-labelledby="toggle-filter-all")
                            label.control-label.ml-2 契約金額
                            .row.deposit-range
                                .col-5.col-md-4.col-lg-2
                                    input.form-control.col-12.text-center(name="deposit-min")
                                span.pt-2 〜
                                .col-5.col-md-4.col-lg-2
                                    input.form-control.col-12.text-center(name="deposit-max")

                            .mt-4.period-range
                                label.control-label.ml-2 工事開始日
                                .btn-group-toggle
                                    .btn-group.filter-group(data-name="all" data-toggle="buttons")
                                        label.btn.nav-link-inoutcome-filter
                                            input.toggle(type='radio', value=1)
                                            | 今月
                                        label.btn.nav-link-inoutcome-filter
                                            input.toggle(type="radio", value=2)
                                            | 先月
                                        label.btn.nav-link-inoutcome-filter
                                            input.toggle(type="radio", value=3)
                                            | 先々月
                                        label.btn.nav-link-inoutcome-filter
                                            input.toggle(type="radio", value=4)
                                            | 今期
                                        label.btn.nav-link-inoutcome-filter
                                            input.toggle(type="radio", value=5)
                                            | 前期
                                        label.btn.nav-link-inoutcome-filter
                                            input.toggle(type="radio", value=6)
                                            | 前期より以前

                            .text-right.mt-4
                                button.clearBtn.btn.btn-outline-dark.rounded.mr-3(data-name='all') 条件をクリア
                                button.filterBtn.btn.btn-primary.rounded(data-name='all') 絞り込む

            div(class="tab-pane fade" id="nav-inprogress" role="tabpanel" aria-labelledby="nav-inprogress-tab")
                .col-12.col-xxl-8.px-0
                    .card.border-secondary.my-3.w-100
                        .card-header.py-1.bg-success.text-white.font-weight-bold.collapsed(id="toggle-filter-inprogress" data-toggle="collapse" data-target="#filter-panel-inprogress" aria-expanded="false" aria-controls="filter-panel-inprogress" style="cursor:pointer")
                            .row.pl-3
                                span.pt-1 詳細で絞り込む
                                .col.d-flex.justify-content-end.pt-1
                                    span.pr-1.float-left.off.d-inline(data-feather="chevron-down")
                                    span.pr-1.float-left.on.d-none(data-feather="chevron-up")
                                
                        .card-body.px-4.collapse(id="filter-panel-inprogress" aria-labelledby="toggle-filter-inprogress")
                            label.control-label.ml-2 契約金額
                            .row.deposit-range
                                .col-5.col-md-4.col-lg-2
                                    input.form-control.col-12.text-center(name="deposit-min")
                                span.pt-2 〜
                                .col-5.col-md-4.col-lg-2
                                    input.form-control.col-12.text-center(name="deposit-max")

                            .mt-4.period-range
                                label.control-label.ml-2 工事開始日
                                .btn-group-toggle
                                    .btn-group.filter-group(data-name="inprogress" data-toggle="buttons")
                                        label.btn.nav-link-inoutcome-filter
                                            input.toggle(type='radio', value=1)
                                            | 今月
                                        label.btn.nav-link-inoutcome-filter
                                            input.toggle(type="radio", value=2)
                                            | 先月
                                        label.btn.nav-link-inoutcome-filter
                                            input.toggle(type="radio", value=3)
                                            | 先々月
                                        label.btn.nav-link-inoutcome-filter
                                            input.toggle(type="radio", value=4)
                                            | 今期
                                        label.btn.nav-link-inoutcome-filter
                                            input.toggle(type="radio", value=5)
                                            | 前期
                                        label.btn.nav-link-inoutcome-filter
                                            input.toggle(type="radio", value=6)
                                            | 前期より以前

                            .text-right.mt-4
                                button.clearBtn.btn.btn-outline-dark.rounded.mr-3(data-name='inprogress') 条件をクリア
                                button.filterBtn.btn.btn-success.rounded(data-name='inprogress') 絞り込む

            div(class="tab-pane fade" id="nav-finished" role="tabpanel" aria-labelledby="nav-finished-tab")
                .col-12.col-xxl-10.px-0
                    .card.border-secondary.my-3.w-100
                        .card-header.py-1.bg-danger.text-white.font-weight-bold.collapsed(id="toggle-filter-finished" data-toggle="collapse" data-target="#filter-panel-finished" aria-expanded="false" aria-controls="filter-panel-finished" style="cursor:pointer")
                            .row.pl-3
                                span.pt-1 詳細で絞り込む
                                .col.d-flex.justify-content-end.pt-1
                                    span.pr-1.float-left.off.d-inline(data-feather="chevron-down")
                                    span.pr-1.float-left.on.d-none(data-feather="chevron-up")
                                
                        .card-body.px-4.collapse(id="filter-panel-finished" aria-labelledby="toggle-filter-finished")
                            label.control-label.ml-2 契約金額
                            .row.deposit-range
                                .col-5.col-md-4.col-lg-2
                                    input.form-control.col-12.text-center(name="deposit-min")
                                span.pt-2 〜
                                .col-5.col-md-4.col-lg-2
                                    input.form-control.col-12.text-center(name="deposit-max")

                            .mt-4.period-range
                                label.control-label.ml-2 工事開始日
                                .btn-group-toggle
                                    .btn-group.filter-group(data-name="finished" data-toggle="buttons")
                                        label.btn.nav-link-inoutcome-filter
                                            input.toggle(type='radio', value=1)
                                            | 今月
                                        label.btn.nav-link-inoutcome-filter
                                            input.toggle(type="radio", value=2)
                                            | 先月
                                        label.btn.nav-link-inoutcome-filter
                                            input.toggle(type="radio", value=3)
                                            | 先々月
                                        label.btn.nav-link-inoutcome-filter
                                            input.toggle(type="radio", value=4)
                                            | 今期
                                        label.btn.nav-link-inoutcome-filter
                                            input.toggle(type="radio", value=5)
                                            | 前期
                                        label.btn.nav-link-inoutcome-filter
                                            input.toggle(type="radio", value=6)
                                            | 前期より以前

                            .text-right.mt-4
                                button.clearBtn.btn.btn-outline-dark.rounded.mr-3(data-name='finished') 条件をクリア
                                button.filterBtn.btn.btn-danger.rounded.text-white(data-name='finished') 絞り込む

            .col-12.mt-4.mb-1 合計
            .col-12.col-xxl-10.px-0.mb-4.d-flex
                .display.view-table.border.border-secondary.rounded
                    table.w-100.table-bordered
                        thead.bg-secondary.text-center.text-white
                            tr
                                th.py-2.px-2 契約金額
                                th.px-2 原価
                                th.px-2 予想粗利益
                        tbody#summary-tbody
                            tr.text-right.font-weight-bold
                                td.py-2.px-2#deposit-amount-all 0
                                td.px-2#prime-cost-all 0
                                td.px-2#expect-profit-all 0
            
            .col-12.col-lg-12.col-xl-10.col-xxl-8.py-2
                .row
                    div.form-check.pt-2
                        input#batch-check.form-check-input.genba-checkbox(type="checkbox" name="batch-check" style="cursor:pointer")
                        label.form-check-label.ml-2(for="batch-check" style="font-size:18px;cursor:pointer") 全て選択 / 解除
                    .col.px-0.text-right
                        a.btn.btn-success.rounded(href="/dashboard/settings/genba?genbaID=0") 新現場追加
                .row.py-3
                    ul#listGenbas.list-group.mb-3.w-100
                        //- each genba in genbas