extends default

block content
    section#forgotPassword.pt-5
        .container.mt-4
            form(class="form-signin" method="POST" action="/users/forgot-password")
                h2.text-center.mb-0
                    a.text-success(href="/") #{title}
                if error
                    #error.text-center.col-12.mt-2.mb-4.px-3.py-2.c-alert
                        p.alert.font-size-sm メールアドレスが正しくありません。
                else
                    .text-center.col-12.my-2.px-3.py-2.c-alert.bg-white
                        p.text-sm.text-center.mb-5.text-success V.#{version}
                label( for="inputEmail" ) メールアドレス
                input(type="email" name="email" id="inputEmail" class="form-control" placeholder="例: xxx@horiken.cm" required autofocus)
                - var buttonClass=['btn', 'btn-lg', 'btn-success', 'btn-block', 'shadow'];
                button(class=buttonClass type="submit") パスワードの変更を求める
                a.text-center.d-none(href="#" style="width:100%;padding-top: 15px;display: inline-block;text-decoration: underline;") パスワードを忘れた方はこちら