extends default

block content
    section#forgotPassword.pt-5
        .container.mt-4
            form#forgotPasswordForm(class="form-signin" method="POST" action="/users/forgot-password")
                h2.text-center.mb-0
                    a.text-success(href="/") #{title}
                #version.text-center.col-12.my-2.px-3.py-2.c-alert.bg-white
                        p.text-sm.text-center.mb-5.text-success V.#{version}
                if error
                    #error.text-center.col-12.mt-2.mb-4.px-0.py-2.c-alert
                        p.px-0.alert(style="font-size:13px;") 登録されたメールアドレスではありません。
                if errorSendEmail
                    #error.text-center.col-12.mt-2.mb-4.px-3.py-2.c-alert
                        p.alert.font-size-sm 電子メールの送信に失敗しました。
                #invalidEmail.text-center.col-12.mt-2.mb-4.px-0.py-2.c-alert(style="display:none;font-size:13px;")
                        p.px-0.alert メールアドレスが正しくありません。
                label( for="inputEmail" ) メールアドレス
                input(type="text" name="email" id="inputEmail" class="form-control" placeholder="例: xxx@horiken.cm" autofocus)
                - var buttonClass=['btn', 'btn-lg', 'btn-success', 'btn-block', 'shadow'];
                button(class=buttonClass type="submit") メールを送信
                a.text-center(href="/login" style="width:100%;padding-top: 15px;display: inline-block;text-decoration: underline;") ログインページに戻る...
