extends default

block content
    section#loginForm.pt-5
        .container.mt-4
            form(class="form-signin" method="POST" action="/users/login")
                h1.text-center.text-success.fw-bold.mb-0
                    span 株式会社堀健
                .text-center.w-100 
                    span 業務管理システム
                if error
                    #error.text-center.col-12.mt-2.mb-4.px-3.py-2.c-alert
                        p.alert.font-size-sm メールアドレスまたはパスワードが正しくありません。
                else
                    .text-center.col-12.my-2.px-3.py-2.c-alert.bg-white
                        p.text-sm.text-center.mb-5.text-muted V.#{version}
                label( for="inputEmail" class="sr-only") メールアドレス
                input(type="email" name="email" id="inputEmail" class="form-control" placeholder="例: xxx@horiken.cm" required autofocus)
                label(for="inputPassword" class="sr-only") パスワード
                input(type="password" name="password" id="inputPassword" class="form-control" placeholder="" required)
                - var divClasses=['checkbox', 'mb-3'];
                div.d-none(class=divClasses)
                    label
                        input(type="checkbox" value="remember-me")
                        span 次回から自動的にログイン
                - var buttonClass=['btn', 'btn-lg', 'btn-success', 'btn-block', 'shadow'];
                button(class=buttonClass type="submit") ログイン
                a.text-center(href="/forgot-password" style="width:100%;padding-top: 15px;display: inline-block;text-decoration: underline;") パスワードを忘れた方はこちら