extends new_dashboard
block content
    #new_dashoboard_setting_holidays.container.col-md-12.ml-sm-auto.col-lg-12.pt-3.pl-2.pr-3
        h3.d-block.title #{title}
        .row 
            .col-sm-12.col-lg-12.col-md-12
                .card.border-secondary.mb-3(style="width:100%")
                    .card-body.px-0.py-0
                        p.px-2.py-1.mt-2.d-flex(style="justify-content: flex-end;")
                            span.px-2 更新者 : 更新者
                            span.px-2 更新日時 : 2022/02/23 9:23:43
                        .col-12.mt-1
                            form#shimebi(method="POST" data-name="globalsetting" data-value="1")
                                .form-container
                                    .form-row.border.col-12.col-lg-10.px-0.col-xl-6
                                            label.py-2.d-flex.px-4.col-lg-6.col-12(for="period" style="margin-bottom: 0;color: white;justify-content: space-between;background: #06d9b4;") 
                                                span.pt-1.text-truncate カレンダー設定コード
                                                span.badge.badge-danger.p-2 必須
                                            input.pl-2.my-2(name="period" style="font-size: 15px;margin-left: 4%;")
                                    .form-row.border.col-12.col-lg-10.px-0.col-xl-6
                                            label.py-2.d-flex.px-4.col-lg-6.col-12(for="period" style="margin-bottom: 0;color: white;justify-content: space-between;background: #06d9b4;") 
                                                span.pt-1.text-truncate カレンダー設定名称
                                                span.badge.badge-danger.p-2 必須
                                            input.pl-2(name="period" style="font-size: 15px;width: calc(42% - 3px);margin: 0.5rem 4%;")
                                    .form-row.border.mt-1.col-12.px-0
                                            label.py-2.col-xl-3.col-lg-5.col-12.d-flex.px-4(for="period" style="margin-bottom: 0;color: white;justify-content: flex-start;background: #06d9b4;") 
                                                span.pt-1 法定休日
                                            span.d-flex.my-2(name="period" style="font-size: 11px;margin-left: 2%;flex-wrap: wrap;align-items: center;")
                                                div.d-flex.pr-1.pr-xl-4.pr-lg-1.pr-md-4.pr-sm-2
                                                    input(type="checkbox" style="width: 18px;" name="sub1" id="chckbox_6131c7e94073b3ec03c9db55" value="月" data-id="6131c7e94073b3ec03c9db55")
                                                    label.form-check-label.ml-1(for="chckbox_6131c7e94073b3ec03c9db55" style="font-size: 18px;") 月
                                                div.d-flex.pr-1.pr-xl-4.pr-lg-1.pr-md-4.pr-sm-2
                                                    input(type="checkbox" style="width: 18px;" name="sub2" value="火")
                                                    label.form-check-label.ml-1(for="chckbox_6131c7e94073b3ec03c9db55" style="font-size: 18px;") 火
                                                div.d-flex.pr-1.pr-xl-4.pr-lg-1.pr-md-4.pr-sm-2
                                                    input(type="checkbox" style="width: 18px;" name="sub3" value="水")
                                                    label.form-check-label.ml-1(for="chckbox_6131c7e94073b3ec03c9db55" style="font-size: 18px;") 水
                                                div.d-flex.pr-1.pr-xl-4.pr-lg-1.pr-md-4.pr-sm-2
                                                    input(type="checkbox" style="width: 18px;" name="sub4" value="木")
                                                    label.form-check-label.ml-1(for="chckbox_6131c7e94073b3ec03c9db55" style="font-size: 18px;") 木
                                                div.d-flex.pr-1.pr-xl-4.pr-lg-1.pr-md-4.pr-sm-2
                                                    input(type="checkbox" style="width: 18px;" name="sub5" value="金")
                                                    label.form-check-label.ml-1(for="chckbox_6131c7e94073b3ec03c9db55" style="font-size: 18px;") 金
                                                div.d-flex.pr-1.pr-xl-4.pr-lg-1.pr-md-4.pr-sm-2
                                                    input(type="checkbox" style="width: 18px;" name="sub6" value="土")
                                                    label.form-check-label.ml-1(for="chckbox_6131c7e94073b3ec03c9db55" style="font-size: 18px;") 土
                                                div.d-flex.pr-1.pr-xl-4.pr-lg-1.pr-md-4.pr-sm-2
                                                    input(type="checkbox" style="width: 18px;" name="sub0" value="日")
                                                    label.form-check-label.ml-1(for="chckbox_6131c7e94073b3ec03c9db55" style="font-size: 18px;") 日
                                                div.d-flex.pr-1.pr-xl-4.pr-lg-1.pr-md-4.pr-sm-2
                                                    input(type="checkbox" style="width: 18px;" name="sub7" value="祝日")
                                                    label.form-check-label.ml-1(for="chckbox_6131c7e94073b3ec03c9db55" style="font-size: 18px;") 祝日
                                    .form-row.border.col-12.px-0
                                            label.py-2.col-xl-3.col-lg-5.col-12.d-flex.px-4(for="period" style="margin-bottom: 0;color: white;justify-content: flex-start;background: #06d9b4;") 
                                                span.pt-1 所定休日
                                            span.d-flex.my-2(name="period" style="font-size: 11px;margin-left: 2%;align-items: center;flex-wrap: wrap;")
                                                div.d-flex.pr-1.pr-xl-4.pr-lg-1.pr-md-4.pr-sm-2
                                                    input(type="checkbox" style="width: 18px;" name="sub1" id="chckbox_6131c7e94073b3ec03c9db55" value="月" data-id="6131c7e94073b3ec03c9db55")
                                                    label.form-check-label.ml-1(for="chckbox_6131c7e94073b3ec03c9db55" style="font-size: 18px;") 月
                                                div.d-flex.pr-1.pr-xl-4.pr-lg-1.pr-md-4.pr-sm-2
                                                    input(type="checkbox" style="width: 18px;" name="sub2" value="火")
                                                    label.form-check-label.ml-1(for="chckbox_6131c7e94073b3ec03c9db55" style="font-size: 18px;") 火
                                                div.d-flex.pr-1.pr-xl-4.pr-lg-1.pr-md-4.pr-sm-2
                                                    input(type="checkbox" style="width: 18px;" name="sub3" value="水")
                                                    label.form-check-label.ml-1(for="chckbox_6131c7e94073b3ec03c9db55" style="font-size: 18px;") 水
                                                div.d-flex.pr-1.pr-xl-4.pr-lg-1.pr-md-4.pr-sm-2
                                                    input(type="checkbox" style="width: 18px;" name="sub4" value="木")
                                                    label.form-check-label.ml-1(for="chckbox_6131c7e94073b3ec03c9db55" style="font-size: 18px;") 木
                                                div.d-flex.pr-1.pr-xl-4.pr-lg-1.pr-md-4.pr-sm-2
                                                    input(type="checkbox" style="width: 18px;" name="sub5" value="金")
                                                    label.form-check-label.ml-1(for="chckbox_6131c7e94073b3ec03c9db55" style="font-size: 18px;") 金
                                                div.d-flex.pr-1.pr-xl-4.pr-lg-1.pr-md-4.pr-sm-2
                                                    input(type="checkbox" style="width: 18px;" name="sub6" value="土")
                                                    label.form-check-label.ml-1(for="chckbox_6131c7e94073b3ec03c9db55" style="font-size: 18px;") 土
                                                div.d-flex.pr-1.pr-xl-4.pr-lg-1.pr-md-4.pr-sm-2
                                                    input(type="checkbox" style="width: 18px;" name="sub0" value="日")
                                                    label.form-check-label.ml-1(for="chckbox_6131c7e94073b3ec03c9db55" style="font-size: 18px;") 日
                                                div.d-flex.pr-1.pr-xl-4.pr-lg-1.pr-md-4.pr-sm-2
                                                    input(type="checkbox" style="width: 18px;" name="sub7" value="祝日")
                                                    label.form-check-label.ml-1(for="chckbox_6131c7e94073b3ec03c9db55" style="font-size: 18px;") 祝日
                                    .form-row.border.col-12.px-0
                                            label.col-xl-3.col-lg-5.col-12.py-2.d-flex.px-4(for="period" style="margin-bottom: 0;color: white;justify-content: flex-start;background: #06d9b4;") 
                                                span.pt-1 XXXXX
                                            span.d-flex.my-2(name="period" style="font-size: 11px;margin-left: 2%;align-items: center;")
                                                div.d-flex.pr-5
                                                    input(type="checkbox" style="width: 18px;" name="sub7" value="year_holiday")
                                                    label.form-check-label.ml-1(for="1" style="font-size: 18px;") 年末年始休暇(12/29～1/3)を祝日扱いにする
                                    .form-row.border.col-12.px-0
                                            label.col-xl-3.col-lg-5.col-12.py-2.d-flex.px-4(for="period" style="margin-bottom: 0;color: white;justify-content: space-between;background: #06d9b4;") 
                                                span.pt-1 XXXX
                                                span.badge.badge-light(style="border-radius: 50%;padding: 0.5rem 0.7rem;color: #06d9b4;") ?
                                            span.d-flex.my-2(name="period" style="font-size: 11px;margin-left: 2%;align-items: center;")
                                                label.mr-1(for="month_start" style="font-size: 18px;margin-bottom: 0;") 月の開始日:
                                                select.custom-select-1(name="month_start" style="padding: 0;")
                                                    option(value="1") 1日
                                                    option(value="2") 2日
                                                    option(value="3" selected) 3日
                        hr
                        .col-12.mt-1.d-flex(style="align-items: center;flex-wrap: wrap;gap: 15px;")
                            select.custom-select-1(name="month_start" style="padding: 0;")
                                option(value="1") 2021年X
                                option(value="2") 2022年X
                                option(value="3" selected) 2023年X
                            a(for="month_start" style="font-size: 18px;margin-bottom: 0;") 年XXXXXXXXXXXX
                        .col-12.mt-1(id="calendar_for_holiday" style="height:400px;overflow-y:auto;")
                        hr
                        .col-12.my-2.d-flex.d-md-block(style="flex-wrap:wrap;gap: 15px;justify-content:space-between;")
                            button.sendForm.btn.btn-primary.rounded.shadow-sm.s-el.col-5.col-md-2.col-sm-2.mr-md-2
                                span.pt-1 更新
                            button.sendForm.btn.btn-outline-secondary.border.border-secondary.rounded.shadow-sm.s-el.col-5.col-md-2.col-sm-3.mr-md-2
                                span.pt-1 XXXXXX
                            button.sendForm.btn.btn-outline-secondary.border.border-secondary.rounded.shadow-sm.s-el.col-5.col-md-2.col-sm-3
                                span.pt-1 XXXX
                            button.sendForm.btn.btn-danger.rounded.shadow-sm.s-el.col-5.col-md-2.col-sm-2(style="float:right;")
                                span.pt-1 更新