extends new_dashboard
block content
    #new_dashoboard_content_admin.container.col-md-12.ml-sm-auto.col-lg-12.pt-3.pl-2.pr-3
        h3.d-block.title #{title}
        .row 
            .col-sm-12.col-lg-12.col-md-12
                .card.border-secondary.mb-3(style="width:100%")
                    .card-body.px-0.py-0
                        h5.px-2.py-1 業務日報カレンダー
                        div.table-wrapper
                            table.fl-table.calendar-table
                                tbody 
                                    tr
                                        td
                                            .d-flex.justify-content-center(style="align-items:center;height:300px;")
                                                .spinner-border(role="status")
                                                    .sr-only ローディング...
            .col-sm-12.col-lg-12.col-md-12
                .card.border-secondary.mb-3#new_dashboard_charts_group1(style="width:100%")
                    .card-body.px-0.py-0
                        span.d-flex
                            h5.px-2.py-1(style="width: -webkit-fill-available;") ハンズトレーディング
                            -
                                const chartStartDate = realStartDate.getFullYear() + '/' + (realStartDate.getMonth() + 1) + '/' + realStartDate.getDate();
                                const chartEndDate = realEndDate.getFullYear() + '/' + (realEndDate.getMonth() + 1) + '/' + realEndDate.getDate();
                            span.d-flex.py-2.justify-content-end.mr-1(style="width: -webkit-fill-available;")
                                input.chart-date.start.text-center(type="text" chart-no="1" name="startDate" data-name="nippo" style="height:fit-content;width: 82px;padding-top:2px;padding-bottom:2px;background-color:lightgray;border: gray solid 1px;border-radius:2px;")
                                span.px-2(style="padding-top:2px;padding-bottom:2px;") ~
                                input.chart-date.end.text-center(type="text" name="endDate" chart-no="1" data-name="nippo" style="height:fit-content;width: 82px;padding-top:2px;padding-bottom:2px;background-color:lightgray;border: gray solid 1px;border-radius:2px;")
                        canvas#chart_group_item_1
