extends default

block content
    section#forgotPassword.pt-5
        .container.mt-4
            form(class="form-signin" method="POST" action="/users/reset-password")
                h2.text-center.mb-0
                    a.text-success(href="/") #{title}
                if success
                    .text-center.col-12.my-2.px-3.py-5.c-alert.bg-white
                        p.text-center.text-success パスワードを設定しました
                    .text-center
                        a.btn.btn-success.text-center.col-12(href="/") ログイン画面へ
                else
                    if error
                        #error.text-center.col-12.mt-2.mb-4.px-3.py-2.c-alert
                            p.alert.font-size-sm 入力内容を確認してください。
                    else if error_not_same
                        #error.text-center.col-12.mt-2.mb-4.px-3.py-2.c-alert
                            p.alert.font-size-sm 新しいパスワードが一致しません
                    else if error_invalid_verification_key
                        #error.text-center.col-12.mt-2.mb-4.px-3.py-2.c-alert
                            p.alert.font-size-sm メールアドレスに送付された確認コードを入力してください
                    else
                        .text-center.col-12.my-2.px-3.py-2.c-alert.bg-white
                            p.text-sm.text-center.text-success V.#{version}
                    p #{email} 宛にお送りした確認コードを入力してください
                    label( for="inputVerificationKey" ) 確認コードを入力
                    input(type="text" name="verifiction" id="inputVerificationKey" class="form-control" placeholder="例: xxxxxx" required autofocus)
                    label( for="new_password" ) 新しいパスワード
                    input(type="password" name="new_password" id="new_password" class="form-control" required)
                    label( for="new_password2" ) もう一度新しいパスワードを入力してください
                    input(type="password" name="new_password2" id="new_password2" class="form-control" required012)
                    - var buttonClass=['btn', 'btn-lg', 'btn-success', 'btn-block', 'shadow'];
                    button(class=buttonClass type="submit") 設定する