extends new_dashboard
block content
    #SettingsCompany.container.col-md-10.ml-sm-auto.col-lg-10.pt-3.px-1
        .d-flex    
            .col-sm-auto.col-12.pt-1
                a(href="/dashboard/settings/company").d-block 
                    span(data-feather='chevron-left' style="height: 30px;")
                    span.pt-1 業者一覧に戻る
            .col-sm-auto.col-12
                h3.d-block.title #{title}
        #formCompany.card.mb-3.w-100
            .card-body
                .form-container
                    div.col-12
                        .form-group.row
                            label.control-label.col-sm-2(for="業社名") 業社名
                                span.badge.badge-danger.ml-2 必須
                            input.form-control.col-sm-10(type="text" placeholder="業社名" name="el" required)
                        .form-group.row
                            label.control-label.col-sm-2(for="業社名kana") 
                                span 業社名
                                span.fw-light(style="font-size:12px") (ふりがな)
                            input.form-control.col-sm-10( type="text" placeholder="" name="業社名kana" )
                        .row.border-bottom.border-secondary
                            .col-6
                                .my-2.font-weight-bold.pb-2 工種
                            .col-6.p-2
                                a.float-right.badge.badge-primary.p-2.rounded(href='/dashboard/settings/nippo') 工種を追加する
                        #koushuCheckList.form-group.row.p-3(data-id=`${companyID}`)
                            .form-check.col-3.d-none
                                input.form-check-input( type="checkbox" name="sub" id="chckbox_none" value="" data-id="none" checked)
                        .form-group.row
                            label.control-label.col-sm-2(for="担当者名") 担当者名
                            input.form-control.col-sm-10( type="text" placeholder="担当者名" name="担当者名")
                        .form-group.row
                            label.control-label.col-sm-2(for="電話番号") 電話番号
                            input.form-control.col-sm-10( type="tel" placeholder="電話番号" name="電話番号")
                        .form-group.row
                            label.control-label.col-sm-2(for="FAX番号") FAX番号
                            input.form-control.col-sm-10( type="fax" placeholder="FAX番号" name="FAX番号")
                        .form-group.row
                            label.control-label.col-sm-2(for="メールアドレス") メールアドレス
                            input.form-control.col-sm-10( type="email" placeholder="メールアドレス" name="メールアドレス")
                        .form-group.row
                            label.control-label.col-sm-2(for="現場名") 現場名
                            .col-sm-10.company-genba
                        .form-group.row
                            label.control-label.col-sm-2(for="メモ") メモ
                            textarea.input-date.form-control.col-sm-10( placeholder="メモ" name="メモ")
                    .row
                        .col.text-left.border-top.pt-3.adminOnly(style="display:none")
                            if !isNew
                                form#companyDelete(method="POST")
                                    button.d-inline-block.btn.btn-outline-danger.rounded.px-2.pt-1(style="cursor:pointer" type="submint")
                                        span(data-feather='trash' style="width: 15px;height: 15px;")
                        .col.text-right.border-top.pt-3
                            button#submit_company.btn.btn-primary(onclick="submitData(this)" data-value="formCompany" data-redirect="/dashboard/settings/company") #{title}